---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import axios from 'axios';

const response = await axios.get(`${import.meta.env.ASTRO_BACKEND_URL}/api/book-reports?populate=*`);
const { data } = await response.data;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body class="m-auto">
		<Header title={SITE_TITLE} ASTRO_BACKEND_URL={import.meta.env.ASTRO_BACKEND_URL} client:load />
		<main>
			<h1 class="text-3xl font-bold text-custom-200">Book Reports</h1>
			<ul>
				{
					data.reverse().map((post: any) => (
						<li>
							<FormattedDate date={post.attributes.publishedAt} />
							<a href={`/book-reports/${post.id}/`} class="text-custom-200">{post.attributes.title}</a>
						</li>
					))
				}
			</ul>
		</main>
		<Footer />
	</body>
</html>
