---
import BaseHead from '../components/BaseHead.astro';
// import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import Header from '../components/Header';
import RecentPosts from '../components/RecentPosts';

const response = await fetch(`${import.meta.env.ASTRO_BACKEND_URL}/api/home`)
const { data } = await response.json();
const { home } = data.attributes;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} ASTRO_BACKEND_URL={import.meta.env.ASTRO_BACKEND_URL} client:load />
		<main>
			<div class="flex flex-col md:flex-row w-full">
				<div class="md:w-4/5 md:pr-7">
					{home.split("\n").map((home: any) => {
						return (
							<p class="text-justify indent-4">
								{home}
								<br>
							</p>
						)
					})}
				</div>
				<RecentPosts ASTRO_BACKEND_URL={import.meta.env.ASTRO_BACKEND_URL} client:load />
			</div>
		</main>
		<Footer />
	</body>
</html>
