---
import BaseHead from '../components/BaseHead.astro';
// import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import Header from '../components/Header';
import RegisterForm from '../components/RegisterForm';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} REACT_APP_BACKEND_URL={import.meta.env.REACT_APP_BACKEND_URL} client:load />
		<main>
			<div class="flex flex-col justify-center md:flex-row">
				<div>
					<h1>Register to Blab Times</h1>
          <RegisterForm REACT_APP_BACKEND_URL={import.meta.env.REACT_APP_BACKEND_URL} REACT_APP_FRONTEND_URL={import.meta.env.REACT_APP_FRONTEND_URL} client:load />
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
