---
import BaseHead from '../components/BaseHead.astro';
// import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import Header from '../components/Header';
import PasswordReset from '../components/PasswordReset';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} ASTRO_BACKEND_URL={import.meta.env.ASTRO_BACKEND_URL} client:load />
		<main>
			<div class="flex flex-col justify-center md:flex-row">
				<div class="flex flex-col flex-grow-[.25]">
					<h1 class="text-center">Register to Blab Times</h1>
          <PasswordReset ASTRO_BACKEND_URL={import.meta.env.ASTRO_BACKEND_URL} ASTRO_FRONTEND_URL={import.meta.env.ASTRO_FRONTEND_URL} client:load />
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
