---
import type { CollectionEntry } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { attributes } = Astro.props;
// const { title, post, description, createdAt, updatedAt, heroImage } = attributes;
// console.log(title, "title");
// console.log(Astro.props.attributes.post.split("\n"), "props");
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header title={SITE_TITLE} client:load />
		<main>
			<article>
				{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				<h1 class="title text-4xl">{title}</h1>
				<hr />
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
