---
import type { CollectionEntry } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
import FormattedDate from '../components/FormattedDate.astro';
import Comments from '../components/Comments';
import Likes from '../components/Likes';

const { attributes, id } = Astro.props;
const { title, post, description, createdAt, updatedAt, cover, api } = attributes;
let coverUrl = "";

if(cover.data) {
	coverUrl = cover.data.attributes.url;
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				/* border-top: 1px solid #ddd;
				margin: 1rem 0; */
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header title={SITE_TITLE} ASTRO_BACKEND_URL={import.meta.env.ASTRO_BACKEND_URL} client:load />
		<main>
			<article>
				{coverUrl.length > 0 && <img src={`${import.meta.env.ASTRO_BACKEND_URL}${coverUrl}`} alt="" class="w-full rounded-b-md" />}
				<h1 class="title text-4xl">{title}</h1>
				<FormattedDate date={createdAt} />
				{
					updatedAt && (
						<div>
							Last updated on <FormattedDate date={updatedAt} />
						</div>
					)
				}
				<hr/>
				<slot />
				{post.split("\n").map((post: any) => {
					return(
						<p class="indent-4">
							{post}
							<br>
						</p>
					)
				})}
			</article>
			<hr/>
			<div>
				<Likes api={api} postId={id} ASTRO_BACKEND_URL={import.meta.env.ASTRO_BACKEND_URL} client:load />
				<Comments api={api} postId={id} ASTRO_BACKEND_URL={import.meta.env.ASTRO_BACKEND_URL} client:load />
			</div>
		</main>
		<Footer />
	</body>
</html>
